/* CONTACT SECTION */
#contactContainer {
    clear: both;
    margin:5%;
}

#contactContainer /*h1 */
{
    /*  padding: 50px;
      text-align: center;*/
}

#contact {
    display: flex;
    column-gap: 30%;
    /*justify-content: center;*/
}

#contact div {
    /*
    justify-content: flex-start;
    */
    /*   color: black;*/
}

#contact div span{
    font-size: 2.5vh;
   /* color:red;*/
    /*
    font-family: raleway, sans-serif;
    */
  margin-top: 5vh;

}

.form {
    display: flex;
    flex-direction: column;

}

.form input, textarea {
    margin: 1%;
    padding: 20px 5vw 20px 5vw;
    /*   width: 80%; jak ma sie do tego border box i z jakiej wielkosci bierze width, i
      czemu nie jest wycentrowane po ustawieniu marginesu left and right nie jest na srodku */
    border: 3px black solid;
    border-radius: 10px;
    font-size: 2rem;
    font-family: Arial;
}

#attachment {
    border: 0px;
    font-size: 2rem;
}

#send {
    box-shadow: inset 0px 1px 0px 0px #ffffff;
    background: linear-gradient(to bottom, #f9f9f9 5%, #e9e9e9 100%);
    background-color: #f9f9f9;
    border-radius: 6px;
    border: 3px solid #dcdcdc;
    display: inline-block;
    cursor: pointer;
    color: #666666;
    font-family: Arial;
    font-size: 2rem;
    font-weight: bold;
    padding: 10px 24px;
    text-decoration: none;
    text-shadow: 0px 1px 0px #ffffff;
    margin-bottom: 50px;
}

#send:hover {
    background: linear-gradient(to bottom, #e9e9e9 5%, #f9f9f9 100%);
    background-color: #e9e9e9;
}

#send:active {
    position: relative;
    top: 1px;
}
