h1{
    display: flex;
    text-align: center;
    justify-content: center;
    align-content: center;
    margin-top:20%;
    font-size: 2.8em;
}

.hrefBackToMainPage{
    margin: auto;
    display: flex;
    text-align: center;
    justify-content: center;
    text-decoration: #000000;
    color: #0e0e0e;
    border: solid black 1px;
    padding: 10px;
    width: 50%;
    cursor: pointer;
}

